body {
    font-family: Arial, sans-serif;
    background-image: url(../img/pared.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    width: 900px;
    height: auto;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.left-panel {
    flex: 1;
    background-color: #29272c;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
}

.logo {
    width: 400px;
    height: auto;
}

.principal-logo {
    width: 250px;
    height: 120px;
}

.right-panel {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 14px;
    color: #666;
}

form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

.subrayado{
    text-decoration: none;
    color: purple;
}