body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

#pokemon-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 80%;
}

.pokemon-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.pokemon-card img {
    width: 100%;
    height: auto;
}

.pokemon-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.pokemon-card p {
    color: #555;
    margin: 0;
    padding-bottom: 10px;
}
